body {
    margin: 10vh;
    background-color: #e7e7e7;
}

*, *::before, *::after {
    font-family: 'Azeret Mono', monospace;
    box-sizing: border-box;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.splash-title {
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
}

.splash-connectfour-image {
    position: absolute;
    bottom: 1vh;
    width: 10%;
    transform: rotateY(180deg);
    pointer-events: none;
    opacity: .4;
}

.image-1 {
    left: 15vw;
}

.image-2 {
    left: 35vw;
}

.image-3 {
    left: 55vw;
}

.image-4 {
    left: 75vw;
}

.btn {
    background-color: rgba(0, 28, 119, 0.904);
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: .6rem;
    color: rgb(243, 243, 243);
}

.btn:hover, .btn:focus {
    background-color: rgb(113, 154, 207);
}

.splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
}

.splash-btn:first-child {
    margin-left: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.connectfour-grid {
    margin: 2vmin;
    display: grid;
    background-color: hsl(221, 100%, 50%);
    grid-template-rows: repeat(6, 6vmin);
    grid-template-columns: repeat(7, 6vmin);
}

.grid {}

/* 
.connectfour-grid div {
    border: 1px solid hsla(0, 0%, 100%, .2)
} */

.cell {
    display: flex;
    justify-content: center;
}

.hole {
    background: azure;
    align-self: center;
    width: 4vmin;
    height: 4vmin;
    border-radius: 100%;
}

.hole.red-chip.winning-chip::before {
    content: '';
    animation: place 2s linear infinite;
    border: .2vmin solid red;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    align-self: center;
}

.hole.red-chip::before {
    content: '';
    animation: place 0.2s ease-out forwards;
    border: .2vmin solid red;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    align-self: center;
}

.hole.red-chip::after {
    content: none;
}

.hole.yellow-chip.winning-chip::before {
    content: '';
    animation: place 2s linear infinite;
    border: .2vmin solid yellow;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    align-self: center;
}

.hole.yellow-chip::before {
    content: '';
    animation: place 0.2s ease-out forwards;
    border: .2vmin solid yellow;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    align-self: center;
}

@keyframes place {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(4);
    }
}

.hole.red-chip {
    display: flex;
    justify-content: center;
    background-color: red;
    align-self: center;
    width: 4vmin;
    height: 4vmin;
    border-radius: 100%;
}

.hole.yellow-chip {
    display: flex;
    justify-content: center;
    background-color: yellow;
    align-self: center;
    width: 4vmin;
    height: 4vmin;
    border-radius: 100%;
}

.info-text {
    margin: 1rem;
}

/* style.css */

.loading {
    cursor: wait;
    /* busy cursor feedback */
}

.loading * {
    /* disable all mouse events on subElements */
    pointer-events: none;
}

.gameover {
    pointer-events: none;
    animation: glow .8s infinite alternate;
}

@keyframes glow {
    to {
        background-color: hsl(221, 100%, 75%);
    }
}
.player {
    margin: 2vmin;
}

.connected, .ready {
    font-weight: normal;
    opacity: .25;
    text-decoration: line-through;
}

.connected.active, 
.ready.active {
    opacity: 1;
    text-decoration: none;
}

span.green {
    background: green;
}

.hidden-info {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
}